/target/
/.apt_generated/
/logs/
/main/examples/
/release/*/jarpackage.jar
/release/*.tar.gz
/release/*/config/
/release/*/*.log
/release/*/logs
doc/report.aux
doc/report.dvi
doc/report.log
doc/report.synctex.gz

